<table sname="CHAITANYA CHORDIA.N"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td> </td><td> </td><td>69</td></tr><tr><td>GST</td><td>-</td><td>-</td><td>-</td></tr></tbody></table>
