<table sname="M.PRABAKARAN"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>-</td><td>-</td><td>-</td></tr><tr><td>BUSINESS COMMUNICATION</td><td> </td><td> </td><td>55</td></tr></tbody></table>
