<table sname="MUTHUKARUPPI ANNAMALAI"><thead><tr><th>SUBJECT</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>-</td><td>-</td></tr><tr><td>QUICK BOOK</td><td>-</td><td>-</td></tr></tbody></table>
