<table sname="RANJITH KUMAR.N"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>BUSINESS ACCOUNTING</td><td>-</td><td>-</td><td>65</td></tr></tbody></table>
