<table sname="NITHYASRI .U.S"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>52</td><td>52</td><td>52</td></tr><tr><td>BUSINESS ACCOUNTING</td><td>60</td><td>60</td><td>60</td></tr><tr><td>TALLY ERP9</td><td>-</td><td>-</td><td>-</td></tr><tr><td>QUICK BOOK</td><td>-</td><td>-</td><td>-</td></tr><tr><td>BUSINESS COMMUNICATION</td><td>-</td><td>-</td><td>-</td></tr></tbody></table>
