<table sname="R YASH"><thead><tr><th>SUBJECT</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>-</td></tr><tr><td>TALLY ERP9</td><td>-</td></tr></tbody></table>
