<table sname="M.PHANI SOWJANYA"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>80</td><td>80</td><td>80</td></tr><tr><td>BUSINESS ACCOUNTING</td><td>72</td><td>72</td><td>72</td></tr><tr><td>TALLY ERP9</td><td>-</td><td>-</td><td>71</td></tr><tr><td>QUICK BOOK</td><td>-</td><td>-</td><td>75</td></tr><tr><td>BUSINESS COMMUNICATION</td><td>-</td><td>-</td><td>82</td></tr><tr><td>DIRECT TAX</td><td>-</td><td>-</td><td>-</td></tr><tr><td>GST</td><td>-</td><td>-</td><td>-</td></tr></tbody></table>
