<table sname="BHUVANESHWARI"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>65</td><td>65</td><td>65</td></tr><tr><td>BUSINESS ACCOUNTING</td><td>90</td><td>90</td><td>71</td></tr><tr><td>TALLY ERP9</td><td>-</td><td>-</td><td>-</td></tr><tr><td>BUSINESS COMMUNICATION</td><td>-</td><td>-</td><td>90</td></tr></tbody></table>
