<table sname="R.MAHESHWAR"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>BUSINESS ACCOUNTING</td><td>-</td><td>-</td><td>-</td></tr><tr><td>DIRECT TAX</td><td>-</td><td>-</td><td>-</td></tr><tr><td>GST</td><td>-</td><td>-</td><td>-</td></tr></tbody></table>
