<table sname="T.R.RANJITH  KUMAR"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>COMPUTERIZED ACCOUNTING TECHNIQUES</td><td>-</td><td>-</td><td>-</td></tr><tr><td>BUSINESS ACCOUNTING</td><td>-</td><td>-</td><td>-</td></tr><tr><td>TALLY ERP9</td><td>-</td><td>-</td><td>-</td></tr><tr><td>QUICK BOOK</td><td>-</td><td>-</td><td>-</td></tr><tr><td>BUSINESS COMMUNICATION</td><td>-</td><td>-</td><td>-</td></tr><tr><td>DIRECT TAX</td><td>-</td><td>-</td><td>-</td></tr><tr><td>GST</td><td>-</td><td>-</td><td>-</td></tr></tbody></table>
