<table sname="M.MUTHULAKSHMI"><thead><tr><th>SUBJECT</th><th>May-18</th><th>Jun-18</th><th>Jul-18</th></tr></thead>
<tbody><tr><td>TALLY ERP9</td><td>75</td><td>75</td><td>75</td></tr></tbody></table>
