doctype html
html
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title CCA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='layout/styles/layout.css', rel='stylesheet', type='text/css', media='all')
    link(href='layout/styles/extension.css', rel='stylesheet', type='text/css', media='all')
  body#top
     
    .wrapper.row1
      header#header.hoc.clear

        #logo.fl_left
          h1
            a(href='index.html') CCA Eduskills
        nav#mainav.fl_right
          ul.clear
            li.active
              a(href='index-2.html') Home
            li
              a(href='#courses-row') Courses
            li
              a(href='result.html') Results

    .wrapper.bgded.overlay(style='background-image:url("images/clg2.jpg");')
      #pageintro.hoc.clear

        article.one_half.first
          img(src='images/logo_alpha.png')
        article.one_half
          h2.heading
            | College of
            br
            | Computerized
            br
            | Accountancy
          p 100% JOB GUARANTEED
          footer
            a.btn(href='#contact-row') Register now
    .wrapper.row2
      main.hoc.container.clear
        p.heading.font-x2 Congratulations to 

    .wrapper.row3
      main.hoc.container.clear
        .group
          article.one_third.first
            h6.heading.font-x2
              | Our Mission
              img.imgr.inspace-5(src='images/mission.png', alt='')
            p To import Knowledge and training in newer technologies and diverse fascinating fields to young and old, genius and not so intelligent highly educated and not so much at reasonable cost, accessible to any using modern tools to empower individuals.
          article.one_third.second
            h6.heading.font-x2
              | Our Vision
              img.imgr.inspace-5(src='images/vision.png', alt='')
            p Quality for LifeStyle, Challange Candidates, Global Career ,Open the Horizons for challenging candidates , Technology Driven Environment, Earnings and Living Standards
          article.one_third.third
            h6.heading.font-x2
              | Our Values
              img.imgr.inspace-5(src='images/values.png', alt='')
            p Be accountable ,Work hard and have fun, Strive to learn, Build trust, be honest, Respect and value others, Our Values Engage and embrace diversity
    
    .clear
    
    .wrapper.row2.center#courses-row
      section.hoc.container.clear
    
        .sectiontitle(style='margin-bottom:30px')
          h6.heading.font-x2 Courses we shine you..
          p ... to the modern market.
        ul.nospace.group.services
          li.one_half.first.fl_right
            article.infobox
              h6.heading
                // <i class="fa fa-balance-scale"></i>  
                a(href='#') Certified Accounts & Finance Professionals (CAFP)
              p
                | Duration : 1 year .
                br
                | 135 hours .
                br
                | Covers topics such as Computerized Accounting techniques , Bussiness Accounting , Tally , ERP , Quickbook , Peach Tree , etc.[…]
              footer
                a.btn(href='#contact-row') Syllabus >>
          li.one_half.fl_left
            article.infobox
              h6.heading
                a(href='#') Certified Accounts & Finance Professionals Plus (CAFP+)
              p
                | Duration : 1 year 6 months.
                br
                | 220 hours.
                br
                | All topics in CAFP are coverd with additional topics such as Direct Tax and Goods and Sales Tax[…]
              footer
                a.btn(href='#contact-row') Syllabus >>
    
        .clear
    
    .wrapper.row4#contact-row
      footer#footer.hoc.clear
    
        .one_third.first
          h6.heading Contact
          ul.nospace.btmspace-30.linklist.contact
            li
              i.fa.fa-map-marker
              address Flat no:108, Eldams Square, Eldams Road, Alwarpet
            li
              i.fa.fa-phone
              | +91 93821 75767
            li +91 97916 28095
            li
              i.fa.fa-envelope-o
              | cca.alwarpet@brkgroupofcompanies.com
          ul.faico.clear
            li
              a.faicon-facebook(href='#')
                i.fa.fa-facebook
            li
              a.faicon-twitter(href='#')
                i.fa.fa-twitter
            li
              a.faicon-google-plus(href='#')
                i.fa.fa-google-plus
        .one_third
          h6.heading Visit us at
          iframe(frameborder='0', style='vertical-align: middle;', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyAeou1czfJ1DNa3F5GZkp6KsjxDQuXZgOA&q=Eldams+square,Alwarpet', allowfullscreen='')
        .one_third
          h6.heading Write to us now
          p.nospace.btmspace-30 Send us your queries , we'll reach back to you
          form(method='post', action='https://formspree.io/ramkumarb1657@gmail.com')
            fieldset
              legend Newsletter:
              input.btmspace-15(type='text', placeholder='Name')
              |  
              input.btmspace-15(type='text', placeholder='Mobile no. or Email id')
              |  
              input.btmspace-15(type='textbox', placeholder='Your questions...')
              button(type='submit', value='submit') Submit

    .wrapper.row5
      #copyright.hoc.clear
      
        p.fl_left
          | Copyright © 2017 - All Rights Reserved -
          a(href='#') BRK group of companies
    a#backtotop(href='#top')
      i.fa.fa-chevron-up
    // JAVASCRIPTS 
    script(src='layout/scripts/jquery.min.js')
    script(src='layout/scripts/jquery.backtotop.js')
    script(src='layout/scripts/jquery.mobilemenu.js')