html(lang='en')
  // To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations 
  head
    title Results - CCA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='layout/styles/layout.css', rel='stylesheet', type='text/css', media='all')
    // JAVASCRIPTS 
    script(src='layout/scripts/jquery.min.js')
    script(src='layout/scripts/jquery.mobilemenu.js')
    script(src='fillin.js')
  body#top
    
    .wrapper.row1
      header#header.hoc.clear
        
        #logo
          img#ilogo.fl_left(src="images/logo_alpha.png")
          h1      
            a#respage(href='../index.html' style='display:table-cell;') CCA-Eduskills
        nav#mainav.fl_right
          ul.clear
            li
              a(href='../index.html') Home
    
    .wrapper.row2
      #breadcrumb.hoc.clear
    
    .wrapper.row3
      main.hoc.container.clear#loginform
        .content
          #comments
            form#form1(onsubmit='switchview();')
              .one_third.first
              .one_third
                p#there(style='color:red')
                label(for='sid')
                  | Student ID
                  span
                input#sid(name='studid', size='22', type='text')
                br
                div
                  center
                    input(name='submit', value='Check', type='submit')
                  |  
                  br
                  br
                  br
                  br
                  br
      main.hoc.container.clear#loading(style='display:none;')
        .contents
            br
            br
            br
            center
              img(src='/images/89.gif')
              p Loading...   
            br
            br
            br
            br
            br             
      main.hoc.container.clear#marktable(style='display:none;')
        // main body 
        
        .sidebar.one_third.first
          
    
          .sdb_holder
            
            
            <div style="background-color:#fff;padding:12px;border-radius: 5px;">  
              //img.img.borderedbox.inspace-5(src='images/avatar.png', alt='')
              |  Name:
              h6#studentname StudentName
              |  Student Id:
              h5#studentid(style="text-transform: uppercase;")
                | IdNum
                br
                br
              
              br
            </div>
        .content.two_third
          
          h1 Results
          #marktable.scrollable
            //insert table here
            // / main body 
          .fl_right

              p Excellent - <b>A</b>(75% and above);&nbsp;&nbsp;&nbsp;&nbsp;Very Good - <b>B</b>(60% to 75%);&nbsp;&nbsp;&nbsp;&nbsp;  Good  -    <b>C</b>(50% to 60%);&nbsp;&nbsp;&nbsp;&nbsp;    Average -  <b>D</b>( < 50% );
          
        .clear  
    .wrapper.row5
      #copyright.hoc.clear
         
        p.fl_left
          | Copyright © 2017 - All Rights Reserved -
          a(href='#') BRK Group of Companies